:root{
    --font: "Roboto";
    --cor-fundo: #111111;
    --cor-container: rgba(0,0,0 , .6);
    --cor-container-2: #1E3E62;
    --cor-hover:#FF6500;
    --cor-letras: #fff;
}

.body-deck{
    display: grid;
    grid-template-rows:130px calc(100vh - 130px);
    grid-template-columns:30% 70%;
    grid-template-areas: 
    "nav nav"
    "aside main"
    ;

    background-image: url(../img/fundoBack.jpg);
    height: 100vh;
    color: var(--cor-letras);
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 400;
}

.container-nav{
    grid-area: nav;
}

.aside-esquerda{
    grid-area: aside;
}

.container-main{
    grid-area: main;
}