.container-aside-esquerdo{
    width: 80%;
    height: auto;
    background-color: var(--cor-container);
    border-radius: 12px;
}

.container-info-esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;

    margin: 1.5rem 1rem;
    
}

.ul-informacao-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin-bottom: 3rem;

    background-color: var(--cor-container-2);
    border-radius: 8px;
    color: var(--cor-letras);
}   

.conteiner-descricao-carta{
    height: 180px;
    padding: 1rem;

    color: var(--cor-letras);
    background-color: var(--cor-container-2);
    border-radius: 8px; 
    overflow-y: scroll;
}

.container_infomacao{
    display: flex;
    align-items: center;
}

.informacao{
    font-size: 1.3rem;
    font-weight: 500;
    margin :0 0 0 5px;
}

.img-icones{
    width: 25px;
}