.aside-direita{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grupo-filtros{
    background-color: var(--cor-container);
    border-radius: 12px;
    width: 370px;
    height: 600px;
}

.texto-filtro{
   text-align: center;
   margin-top: 1rem;

   font-size: 2rem;
}

.container-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 3rem;
}

.container-item-hover:hover{
    box-shadow: var(--cor-hover) 0px 8px 20px 0px, var(--cor-hover) 0px 0px 0px 1px;
    border-radius: 8px;
}

.texto-pesquisar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
}

.pesquisar{
   background-color: var(--cor-container-2);
   color: var(--font);
   border-radius: 12px;
   width: 70%;
   height: 32px;
}

.pesquisar::placeholder{
    color: var(--cor-letras);
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--font);
}

.container-search{
    text-align: center;
}

.form-select{
    background-color: var(--cor-container-2);
    border: solid 1px var(--cor-container-2);
    color: var(--cor-letras);
    font-size: 1.1rem;
}

.containerAtkDef{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    gap: 1rem;
}

.atk-def{
    display: flex;
}

.atkEdef{
    width: 65%;
    height: 32px;
    border-radius: 8px;
    background-color: var(--cor-container-2);
    
    color: var(--cor-letras);
}

.atkEdef::placeholder{
    color: var(--cor-letras);
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--font);
}