body{
    display: grid;
    grid-template-columns:30% 25% 45%;
    grid-template-areas: 
    "aside-esquerto main-centro aside-direta"
    ;
}

.aside-esquerda{
    border: solid 1px #000;
    padding: 50px;
    height: 100vh;
}

.main-centro{
    border: solid 1px #000;
    padding: 50px;
    height: 100vh;
}

.aside-direita{
    border: solid 1px #000;
    padding: 50px;
    height: 100vh;
}