.container-card{
    height: calc(100vh - 170px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    row-gap: 1rem;
    flex-wrap: wrap;

    margin-top: 1rem;
    overflow-y: scroll;
}


.card{
    width: 180px;
    cursor: pointer;
}

.card:active{
    transform: scale(0.95);
    border: 2px solid var(--cor-hover); 
}
