.container-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 120px;
}

.link-titulo{
    margin-bottom: 2rem;
}

.ul-links{
    display: flex;
    gap: .5rem;
    padding: 0;
}

.texto-link{
    margin: 0;
    font-size: 12px;
}

.img-link{
    width: 35px;
}

.link{
    color: var(--cor-letras);
    font-size: 1rem;
    font-weight: 400;
    font-family: var( --font);
    text-decoration: none;
}
