@media (min-width: 250px) and (max-width: 700px){
    body{
        display: grid;
        grid-template-rows:8% 55% 37%;
        grid-template-columns:100vw;
        grid-template-areas: 
        "cabecalho"
        "main"
        "filtro"
        ;
        height: 100vh;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
    }
    
    /*item do header da pagina*/
    .container-nav{
        grid-area: cabecalho;
        height: 60px;
        margin-top: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ul-links{
        margin-top: 1rem;
    }

    .logoDaPagina{
        width: 160px;
    }

    .img-link{
        width: 25px;
    }

    .texto-link{
        display: none;
    }

    /**/
    .aside-esquerda{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        background-color: rgba(0, 0, 0, .8);
    }

    .container-aside-esquerdo{
        width: 90vw;
    }

    .img-info{
        width: 240px;
    }

    .container-aside-esquerdo-quadradro{
        display: none;
    }

    /*item do main da pagina*/
    .main-centro{
        grid-area: main;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 420px;
        margin: 0 .5rem;
    }

    .container-card{
        height: 380px; 
    }

    .card{
        width: 100px;
    }

    .card:active{
        transform: scale(0.95);
        border: 2px solid blue; 
    }


    /*item do filtros*/
    .aside-direita{
        grid-area: filtro;
    }

    /*container dos filtros*/
    .grupo-filtros{
       display: grid;
       grid-template-rows:20% 80%;
       grid-template-columns:50% 50%;
       grid-template-areas: 
       "pesquisarPorNome pesquisarPorNome"
       "pesquisarPorCategory pesquisarPorAtkDef"
       ;
       height: 20.65rem;
       margin-bottom: 1rem;
    }

    .texto-filtro{
        display: none;
    }

    .container-search{
        grid-area: pesquisarPorNome;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .container-item{
        grid-area: pesquisarPorCategory;
        margin: 0 0 0 1rem;
    }

    .containerAtkDef{
        grid-area: pesquisarPorAtkDef;
    }

    .atkEdef{
        width: 4rem;
    }

    .atkEdef::placeholder{
        font-size: 12px;
    }
}

@media (min-width: 250px) and (max-width: 389px){
    .grupo-filtros{
        height: 17.25rem;
    }

    .main-centro{
        height: 19rem;
    }

    .container-card{
        height: 18rem;
    }
}
