@media (min-width: 250px) and (max-width: 1400px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-nav{
        display: none;
    }

    .aside-esquerda{
        display: none;
    }

    .container-texto-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
    }

    .textoMobile{
        display: block;
        color: var(--cor-letras);
        font-family: var(--font);
        font-size: 1rem     ;
        font-weight: 400;
    }

    .main-centro{
        
    }

    .aside-direita{
        display: none;
    }
}

@media (min-width:1401px){
    .textoMobile{
        display: none;
    }

    .container-texto-mobile{
        display: none;
    }
}