@media (min-width: 250px) and (max-width: 700px){
    body{
        display: grid;
        grid-template-rows:8% 55% 37%;
        grid-template-columns:100vw;
        grid-template-areas: 
        "cabecalho"
        "main"
        "filtro"
        ;
        height: 100vh;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
    }
    
    /*item do header da pagina*/
    .container-nav{
        grid-area: cabecalho;
        height: auto;
    }

    .ul-links{
        margin-top: .5rem;
    }

    .logoDaPagina{
        width: 9.37rem;
    }

    .img-link{
        width: 20px;
    }

    /*item do main da pagina*/
    .main-centro{
        grid-area: main;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 26.25rem;
        margin: 0 .5rem;
    }

    .container-card{
        height: 23.75rem;
        margin: 0;
    }

    .card{
        width: 115px;
    }

    .card:hover{
        box-shadow: var(--cor-hover) 0px 10px 36px 0px, var(--cor-hover) 0px 0px 0px 1px;
    }

    /*item do filtros*/
    .aside-direita{
        grid-area: filtro;
    }

    /*container dos filtros*/
    .grupo-filtros{
       display: grid;
       grid-template-rows:20% 80%;
       grid-template-columns:50% 50%;
       grid-template-areas: 
       "pesquisarPorNome pesquisarPorNome"
       "pesquisarPorCategory pesquisarPorAtkDef"
       ;
       height: 20.65rem;
       margin-bottom: 1rem;
    }

    .texto-filtro{
        display: none;
    }

    .container-search{
        grid-area: pesquisarPorNome;
        margin-left: 1rem;
    }

    .container-item{
        grid-area: pesquisarPorCategory;
        margin: 0 0 0 1rem;
    }

    .containerAtkDef{
        grid-area: pesquisarPorAtkDef;
    }

    .atkEdef{
        width: 4rem;
    }

    .aside-esquerda{
        display: none;
    }
}

@media (min-width: 250px) and (max-width: 389px){
    .grupo-filtros{
        height: 17.25rem;
    }

    .main-centro{
        height: 19rem;
    }
}


